{% extends '/base.html.twig' %}
{% block body %}
    
    <div class="navbar navbar-expand-md sticky-top bg-dark">

        <a href="/manager" class="nav-link nav-item" >Главная</a>
        <a href="/manager/category/list" class="nav-link nav-item" >Категории</a>
        <a href="/manager/books/list" class="nav-link nav-item" >Книги</a>
        <a href="/logout" class="nav-link nav-item" >Выйти</a>
    </div> 
{% endblock %}