{% extends '/base.html.twig' %}
{% block body %}
    
    <div class="navbar navbar-expand-md sticky-top bg-dark">

        <a href="/admin" class="nav-link nav-item" >Главная</a>
        <a href="/admin/tables" class="nav-link nav-item" >Таблицы</a>
        <a href="/logout" class="nav-link nav-item" >Выйти</a>
    </div> 
{% endblock %}