{% extends '/base.html.twig' %}
{% block body %}
    
    <div class="navbar navbar-expand-md sticky-top bg-dark">

        <a href="/" class="nav-link nav-item btn btn-light mr-md-3" ><-</a>
        <a href="/admin" class="nav-link nav-item btn btn-light mr-md-3" >Главная</a>
        <a href="/admin/tables" class="nav-link nav-item btn btn-light mr-md-3" >Таблицы</a>
        <a href="/logout" class="nav-link nav-item btn btn-light" >Выйти</a>
    </div> 
{% endblock %}