{% extends 'manager/Category/basecategory.html.twig' %}
{% block body %}
    {{ parent() }}
     <div class="container-fluid border-black bg-center">
        <div class="row">
            <div class="col-1">
                id
            </div>
            <div class="col-4">
                Название категории
            </div>
            <div class="col-5">
                Описание
            </div>
        </div>
        {% for category in categoryArray %}
            <div class="row">
                <div class="col-1">
                    {{category.id}}
                </div>
                <div class="col-4">
                    {{category.name}}
                </div>
                <div class="col-5">
                     {{category.description}}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
